<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>
</head>
<body>
    <h3>Cliente Formulário</h3>
    <form method="POST">
        <label for="evento">Nome:</label><input type="text" id="evento" name="nomeCompleto">
        <label for="local">Loja:</label><input type="text" id="local" name="loja">
        <label for="local1">Email:</label><input type="text" id="local1" name="email">
        <label for="evento1">Login:</label><input type="text" id="evento1" name="login">
        <label for="evento2">Senha:</label><input type="text" id="evento2" name="senha">
        <button type="submit"> Salvar</button>
    </form>
</body>
</html>